<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/taako-502/slotpick/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/xKsLrz3ag0X7mOD+ZP1Xu/uc066ITSaBhNUrLXZ8+U=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
